.body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.row {
    height: 100%;
}

a {
    text-decoration: none;
}

.navbar {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: #333333;
    width: auto;
    height: 44px;
    display: flex;
    color: #f5f5f7bd;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.navbar .navcontent {
    margin: 0 162.5px;
    padding: 0 22px;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.navbar ul li {
    display: inline-block;
    margin-left: 30px;
}

.navbar ul li:hover {
    color: white;
}

.navbar ul li svg:hover {
    fill: white;
}


.navcontent-min {
    display: none;
}





/* SHOP ON */






.shop-on {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: #f5f5f7bd;
    color: #1d1d1f;
    width: auto;
    height: 44px;
    font-size: 14px;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    margin-top: 44px;
}


/* CONTEUDO 1 */


.conteudo1 {
    width: auto;
    height: 580px;
    text-align: center;
    background-color: black;
    background-image: url(./img/hero_ipad_pro_non_avail__fcrsmhs4b7ma_medium.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: contain;
}


.conteudo1 .header {
    padding-top: 47px;
}



.conteudo1 h2 {

    /* letras */
    color: #f5f5f7;
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

    /* espaçamento */
    text-align: center;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}

.conteudo1 h3 {
    /* letras */
    color: #f5f5f7;
    font-size: 28px;
    line-height: 1.10722;
    letter-spacing: .004em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: 6px;

    /* espaçamento */
    text-align: center;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}

.conteudo1 .header-links {
    display: inline-block;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: .65em;
}

.conteudo1 .header-links {
    height: 21px;
    margin-left: -30px;
}

.conteudo1 .header-links a {
    color: #2997ff;
    display: inline-block;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    margin-left: 25px;
}

.header-links a:hover {
    text-decoration: underline;
}


/* CONTEUDO 2 */


.conteudo2 {
    height: 580px;
    text-align: center;
    background-color: #FBFBFD;
    background-image: url(./img/celulares.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: contain;
    margin: 1.25% 0;
}


.conteudo2 .header {
    padding-top: 47px;
}



.conteudo2 h2 {
    /* letras */
    color: #000000;
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

    /* espaçamento */
    text-align: center;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}

.conteudo2 h3 {
    /* letras */
    color: #000000;
    font-size: 28px;
    line-height: 1.10722;
    letter-spacing: .004em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: 6px;

    /* espaçamento */
    text-align: center;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}


.conteudo2 .text {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.conteudo2 p {
    height: 25px;
    margin: 0px;
    font-weight: 500;
    color: #86868b;
}

.conteudo2 .header-links {
    display: inline-block;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: .65em;
}

.conteudo2 .header-links {
    height: 21px;
    margin-left: -30px;
}

.conteudo2 .header-links a {
    color: #2997ff;
    display: inline-block;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    margin-left: 25px;
}





/* CONTEUDO 3 */

.conteudo3 {
    height: 580px;
    text-align: center;
    background-color: #FBFBFD;
    background-image: url(./img/heromac.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: contain;
    margin: 1.25% 0 0 0;
    padding: 0;
}


.conteudo3 .header {
    padding-top: 47px;
}


.conteudo3 h2 {
    /* letras */
    color: #000000;
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

    /* espaçamento */
    text-align: center;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}

.conteudo3 h3 {
    /* letras */
    color: #000000;
    font-size: 28px;
    line-height: 1.10722;
    letter-spacing: .004em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: 6px;

    /* espaçamento */
    text-align: center;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}


.conteudo3 .header-links {
    display: inline-block;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: .65em;
    height: fit-content;

}

.conteudo3 .header-links {
    height: 21px;
    margin-left: -30px;
}

.conteudo3 .header-links a {
    color: #2997ff;
    display: inline-block;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    margin-left: 25px;
}



/* textos para cols */
.cols{
    text-align: center;
}

.cols .header {
    padding-top: 47px;
}



.cols h2 {
    /* letras */
    color: #000000;
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

    /* espaçamento */
    text-align: center;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}

.cols h3 {
    /* letras */
    color: #000000;
    font-size: 28px;
    line-height: 1.10722;
    letter-spacing: .004em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: 6px;

    /* espaçamento */
    text-align: center;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}


.cols .text {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.cols p {
    height: 25px;
    margin: 0px;
    font-weight: 500;
    color: #86868b;
}

.cols .header-links {
    display: inline-block;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: .65em;

}

.cols .header-links {
    height: 21px;
    margin-left: -30px;
}

.cols .header-links a {
    color: #2997ff;
    display: inline-block;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    margin-left: 25px;
}







/* CONTEUDO 4 */

.conteudo4 {
    height: 580px;
    background-color: rgb(255, 255, 255);
}


.col1 {
    background-color: #FBFBFD;
    background-image: url(./img/moeda.jpg);
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
}



.col2 {
    background-color: black;
    background-image: url(./img/homem.jpg);
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    color: white;
}


/* conteudo 5 */

.conteudo5 {
    height: 624px;
    background-color: rgb(255, 255, 255);
}


.col3 {
    background-color: #FBFBFD;
    background-image: url(./img/cartão.jpg);
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
}

.col4 {
    background-color: #FBFBFD;
    background-image: url(./img/pccelular.jpg);
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
}


/* conteudo 6 */

.conteudo6 {
    height: 580px;
    background-color: rgb(255, 255, 255);
}


.col5 {
    background-color: #F5F5F7;
    background-image: url(./img/tvmac.jpg);
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.col6 {
    background-color: #EEE7DD;
    background-image: url(./img/pessoas.jpg);
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
}



/* Footer */

.footer {
    height: 640px;
    background-color: #F5F5F7;
}





/* @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) vai de 320 até  480
  {
    body { line-height: 1.4; }
} */


@media screen and (max-width: 540px) {

    /* classes gerais */
    .row {

        height: 100%;

    }

    .col {
        height: 500px;
    }


    /* navbar */
    .navbar {
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        background-color: #333333;
        width: auto;
        height: 44px;
        display: flex;
        color: #f5f5f7bd;
        font-size: 14px;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }


    .navcontent {
        display: none;
    }


    .navcontent-min {
        width: 100%;
        display: flex;
        padding-right: 5%;
        justify-content: space-between;
        align-items: center;
    }

    .navcontent-min ul {
        font-size: 0;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .navcontent-min ul li {
        display: inline-block;
    }



    /* titulos e subtitulos */
    .header h2 {
        font-size: 48px;
    }

    .header h3 {
        font-size: 24px;
    }

    .header-links a {
        font-size: 19px;
    }

    .header-links a:hover {
        text-decoration: underline;
    }


    /* conteudos */

    .conteudo1 {
        background-image: url(./img/note1.jpg);
        height: 500px;
    }

    .conteudo2 {
        background-image: url(./img/celular1.jpg);
        height: 500px;
    }

    .conteudo3 {
        background-image: url(./img/hello1.jpg);
        height: 500px;
    }

    .conteudo4 {
        height: 1000px;
    }

    .conteudo5 {
        height: 1000px;
    }

    .conteudo6 {
        height: 1000px;
    }


    .footer{
        height: 1000px;
    }


}